*{ 
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-style: normal;
      
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: white;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 3%;
  background-color: black;
}

body {
  margin: 0%;
}

.search_area{
  width: 350%;
  height: 10%;
}

.logo{
  display: flex;
  width: 150%;
  height: 10%;
  font-size: 120%;
}

.menu{
  display: flex;
  width: 250%;
  line-height: 10px;
  font-size: 100%;
}

.menu > li{
  display: flex;  
}
