*{ 
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-style: normal;
      
      
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: white;
}

.header{
  display: flex;
  width: flex;
  height: 400px;
  margin: auto;
  background-color: black;
}

.search_area{
  margin-top: 28px;
  width: 500px;
  height: 60px;
  padding-left: 300px;
}

.logo{
  dispaly: flex;
  margin-top: 32px;
  width: 500px;
  height: 40px;
}

.menu{
  display: flex;
  margin-top: 32px;
  width: 500px;
  height: 40px;
  padding-left: 300px;
}

.menu > li {
  margin-left: 80px;
}

.menu > li {
  color: white;
}