*{ 
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-style: normal;
      
      
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    color: white;
}

.header{
  display: flex;
  width: flex;
  height: 400px;
  margin: auto;
  background-color: black;
}

.search_area{
  margin-top: 28px;
  width: 500px;
  height: 60px;
  padding-left: 300px;
}

.search_area > form > input{
  width: 300px;
  height: 60px;
  background: black;
  color: black;
}

.menu{
  display: flex;
  margin-top: 32px;
  width: 500px;
  height: 40px;
  padding-left: 500px;
}

.menu > li{
  margin-left: 50px;
}

.menu > li > a{
  color: white;
}